---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.tsx';
---

<Layout>
  <Navbar />
  <main class="pt-16">
    <Hero client:load />
  </main>
</Layout>
